@media only screen and (min-width: 0px) {
  .music-education {
    background-image: url("../../../assets/MusicEducation/images/fundal.png");
    /* background-position: 50% 50%; */
    background-size: cover;

    width: 290px;
    margin: 0 auto;
  }
  .music-education-h2 {
    font-size: 44px;
    font-weight: bold;
  }
  .music-education-p {
    font-weight: 400;
    font-size: 16px;
    padding-bottom: 40px;
  }
  #music-education-id {
    width: 290px;
    height: 320px;
    margin: 0 auto;
    display: block;
    padding-top: 40px;
  }
  .music-education-button {
    border-radius: 50px;
    background-color: #2d4969;
    border: none;
    width: 170px;
    height: 50px;
    font-size: 14px;
    color: white;
    font-weight: bold;
  }
}
@media only screen and (min-width: 768px) {
  .music-education {
    width: 85%;
  }
  .music-education-div {
    display: flex;
    align-items: center;
  }
  .music-education-h2 {
    font-size: 35px;
    width: 100px;
    padding-bottom: 10px;
    margin-bottom: -18px;
  }
  .music-education-p {
    font-size: 18px;
    width: 310px;
    padding-top: 10px;
  }
  #music-education-id {
    height: 360px;
  }
}
@media only screen and (min-width: 992px) {
  .music-education-h2 {
    font-size: 48px;
    width: 400px;
    height: 50px;
    margin-left: 450px;
  }
  .music-education-p {
    font-size: 20px;
    margin-left: 450px;
    margin-bottom: 5px;
    width: 400px;
  }
  #music-education-id {
    height: 450px;
    width: 400px;
    margin-left: 50px;
  }
  .music-education-button {
    margin-left: 450px;
  }
  .music-education {
    padding-bottom: 40px;
  }
}
