@media only screen and (min-width: 0px) {
  .SmileGirl {
    width: 290px;
    margin: 0 auto;
  }
  .Smilegirl-img {
    width: 290px;
    height: 320px;
    margin: 0 auto;
    display: block;
    padding-top: 40px;
  }
  .Smilegirl-h2 {
    font-weight: bold;
    font-size: 24px;
  }
  .Smilegirl-p {
    font-weight: 400;
    font-size: 18px;
  }
  .Smilegirl-button {
    border-radius: 50px;
    background-color: #2d4969;
    border: none;
    width: 170px;
    height: 50px;
    font-size: 14px;
  }
}
