@media only screen and (min-width: 0px) {
  .Form {
    padding-bottom: 5px;
    background-color: #2d4969;
    margin-top: -60px;
    height: 84vh;
  }
  .h2-form {
    font-weight: bold;
    font-size: 36px;
    font-family: "Montserrat", sans-serif;
    margin-top: 60px;
    text-align: center;
    color: white;
    padding-top: 20px;
  }
  .Name-form input,
  label {
    display: block;
  }
  .form-control label {
    margin-bottom: 5px;
    font-size: 18px;
    margin-left: 10px;
  }
  .form-control input,
  .form-control select {
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ccc;
    height: 48px;
    width: 250px;
    height: 30px;
    margin-bottom: 6px;
    background-color: #e7e8e3;
  }

  .Message-form input {
    margin-bottom: 30px;
  }

  form {
    width: 270px;
    margin: 0 auto;
    padding-top: 40px;
    background-color: white;
    margin-bottom: 60px;
    border-radius: 20px;
    padding: 40px 30px;
  }
  .button-form {
    width: 270px;
    background-color: #2d4969;
    color: white;
    border-radius: 30px;
    height: 55px;
  }
  .invalid input {
    border: 1px solid #b40e0e;
    background-color: #fddddd;
  }
  .error-text {
    color: #b40e0e;
    margin-top: -5px;
    margin-left: 5px;
  }
  .mesaj-form {
    text-align: center;
    font-size: 15px;
    background-color: antiquewhite;
    color: black;
    font-weight: bolder;
    border-radius: 22px;
    border-color: #2d4969;
    border-width: 2px;
    border-style: dashed;
    padding: 3px 3px;

    margin-top: 20px;
  }
}
@media only screen and (min-width: 768px) {
  .h2-form {
    padding-bottom: 50px;
  }
  form {
    width: 290px;
    height: 420px;
  }
  .form-control input,
  .form-control select {
    padding: 8px;

    height: 40px;
    width: 275px;
  }
  .button-form {
    width: 290px;
    margin-top: 25px;
  }
  .form-control label {
    margin-bottom: 2px;
  }
  .form-control input,
  .form-control select {
    margin-bottom: 20px;
  }
  .error-text {
    border: 1px solid red;
    margin-bottom: -5px;
    margin-top: -10px;
  }
  .mesaj-form {
    margin-top: 10px;
  }
}
