/* @import url("https://fonts.cdnfonts.com/css/montserrat"); */

@media only screen and (min-width: 0) {
  .section1 {
    background-image: url("../../../assets/Section1Img/images/fundal.png");
    background-position: 50% 50%;
    background-size: cover;
    background-position-y: 500px;
    padding-bottom: 20px;
    margin-top: -3px;
  }
  .section1-img {
    width: 250px;
    height: 250px;
    display: block;
    margin: 0 auto;
    border: 9px solid sandybrown;
    border-radius: 150px;
    margin-top: 5px;
  }

  .main-div {
    text-align: center;
  }
  .section1-h1 {
    font-size: 38px;
    margin-top: 0;
    font-family: "Montserrat", sans-serif;
    color: #2d4969;
  }
  .section1-p {
    margin-top: -22px;
    /* font-family: "Open Sans", sans-serif; */
    font-family: "Open Sans Light", sans-serif;
    /* font-family: "Open Sans Condensed", sans-serif; */
    font-size: 18px;
    font-weight: 400 regular;
    font-style: italic;
    line-height: 200%;
  }
  .button-section1 {
    width: 190px;
    height: 45px;
    border-radius: 50px;
    background-color: #2d4969;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
  }
  .button-section1:hover {
    background-color: #f0bf75;
  }
  #section1-button {
    color: white;
  }
}
