@media only screen and (min-width: 0px) {
  .section3 {
    background-image: url("../../assets//Section3-img//block-fce2/images/Fundal.jpg");
    position: relative;
  }
  #section3-img1 {
    width: 296px;
    height: 220px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
  }
  #section3-img2 {
    width: 263px;
    height: 180px;
    position: absolute;
    border-radius: 20px;
    left: 66px;
    top: 29px;
  }

  #section3-h6 {
    font-size: 18px;
    color: #2d4969;
    text-transform: uppercase;
    font-weight: 380;
  }

  #section3-h2 {
    font-size: 36px;
    text-align: start;
    font-weight: bold;
    margin-top: -30px;
  }

  #section3-p {
    font-size: 16px;
    text-align: start;
  }
  .section3-div-text {
    width: 290px;
    margin: 0 auto;
  }
  .section3-button {
    border-radius: 50px;

    background-color: #2d4969;
    border: none;
    width: 170px;
    height: 50px;
    font-size: 14px;
  }
}
